<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnFailure="false"
         verbose="false">
    <testsuites>
        <testsuite name="Get Teste">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>